<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand mx-3" href="#">Ng Charts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end mx-3 " id="navbarSupportedContent">
    <ul class="navbar-nav align-items-end">
      <li class="nav-item active">
        <a class="nav-link" href="#">Chart JS <span class="sr-only">(current)</span></a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-12  mx-auto">
      <div class="row d-flex justify-content-between">
        <div class="col-6">
          <app-pie></app-pie>
        </div>
    <div class="col-6 my-auto">
      <app-line></app-line>
    </div>
     
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-6 my-auto">
          <app-bar></app-bar>
        </div>
    <div class="col-6 my-auto">
      <app-doughnut></app-doughnut>
    </div>
     
      </div>
      
    </div>
  </div>
</div>